@*<div class="form-group">
        <a class="btn btn-primary" href="#" role="button">Add New</a>
    </div>*@
<div id="pqGrid"></div>

<script>
    $(function () {

        var columns = [
            { title: "Customer Name", editable: false, dataIndx: "name", width: 200, dataType: "string",filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] } },
            { title: "Contact No.", editable: false, dataIndx: "contactNumber", width: 150, dataType: "float", align: "left",filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] } },
            { title: "Address", editable: false, dataIndx: "address", width: 150, dataType: "float", align: "left",filter: { type: 'textbox', condition: 'begin', listeners: ['keyup'] } }];
            GlobalFunc.IndexGrid("#pqGrid","Customers List","Customer",columns,"Customer/GetAllData");
    });



</script>