
.panel-height {
    height: 80vh;
    /*width: 90vw;*/
}

.custom-pq-btn {
    color: white !important;
    padding: 6px !important;
    width: 80px !important;
    font-weight: 400;
}

html {
    box-sizing: border-box
}

label{
    font-weight:500
}

body {
    background-image: url("../images/glasses1.jpg");
}

.btn-secondary
{
    background-color:darkgray;
    border-color:darkgrey;
    color:white;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}




    


