
<div id="pqGrid"></div>

<script>
    $(function () {

        var columns = [
            { title: "Name", editable: false, dataIndx: "name", width: 200, dataType: "string" },
            { title: "Order Date", editable: false, dataIndx: "orderDate", width: 300, dataType: "float", align: "left" }];

            GlobalFunc.IndexGrid("#pqGrid","Orders List","Order",columns,"Order/GetAllData");
    });



</script>